body{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4rem;
    background-color: white;
    color: black;
}

.logo{
    font-family: "roboto";
    text-decoration: none;
    font-size: 17px;
    color: rgb(58, 58, 58);
    font-weight: 700;
}

.navbutton{
    font-family: "roboto";
    text-decoration: none;
    font-size: 16px;
    color: rgb(58, 58, 58);
    font-weight: 500;
}

.me{
    margin-top: 45px;
    margin-left: 10%;
    margin-right: 10%;
}
.bonjour{
    font-family: "francois one";
    font-weight: 500;
    font-size: 23px;
    margin-top: -20px;
    color: rgb(0, 0, 56);
    line-height: 28px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.intro{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}

.aboutme{
    font-family: "roboto";
    font-weight: 400;
    font-size: 16px;
    padding-top: -25px;
    color: rgb(0, 0, 56);
    line-height: 23px;
    text-align: justify;
}

.ending{
    font-family: "roboto";
    font-weight: 400;
    font-size: 16px;
    padding-top: -20px;
    color: rgb(0, 0, 56);
    line-height: 25px;
    padding-bottom: 50px;
    
}

