body{
    /* background-color: #EFF4FF; */
    background-color: white;
    /* background-image: linear-gradient( #eff4ff,white    ); */
    /* margin-left: 13rem;
    margin-right: 13rem; */
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4rem;
}


.title{
    font-family: "roboto";
    text-decoration: none;
    font-size: 18px;
    color: rgb(68, 68, 68);
    font-weight: 700;
}

.navbutton{
    font-family: "roboto";
    text-decoration: none;
    font-size: 17px;
    color: rgb(58, 58, 58);
    font-weight: 500;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    display: block;
    padding-top: 60px;
}

.intro{
    font-family:'Francois One','roboto';
    font-size: 25px;
    /* font-weight: 100; */
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    color: rgb(68, 68, 68);
    padding-bottom: 50px;
}

.fade-in-text {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.type{
    display: flex;
    color: rgb(68, 68, 68);
    justify-content: center;
}

h1{
    font-family: 'roboto';
    font-size: 20px;
    color: rgb(68, 68, 68);
    text-align: center;
}

.typing{
    font-family: 'roboto';
    font-size: 20px;
    color: rgb(68, 68, 68);
    text-align: center;
    position: relative; 
    margin-left: 10px;
}

.typing::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid black;
    right: -4px;
    animation: blink 0.8s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fullw{
    width: 100%;
}

.padding{
    padding-left: 2%;
    padding-right: 2%;
}


/* .display{
    padding-top: 30px;
    margin-right: 18rem;
    margin-left: 18rem;
    float: inline-start;
    display: flex;
    justify-content: space-evenly;
} */

/* .line2{
    margin-left: 18rem;
    margin-right: 18rem;
    float: inline-start;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 75px;
} */
footer{
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    color: black;
    margin-bottom: 30px;
}
