body{
    /* background-color: #EFF4FF; */
    background-color: white;
    /* background-image: linear-gradient( #eff4ff,white    ); */
    /* margin-left: 13rem;
    margin-right: 13rem; */
    margin-left: 13rem;
    margin-right: 13rem;
    margin-top: 4rem;
}


.title{
    font-family: "roboto";
    text-decoration: none;
    font-size: 18px;
    color: rgb(68, 68, 68);
    font-weight: 700;
}

.navbutton{
    font-family: "roboto";
    text-decoration: none;
    font-size: 15px;
    color: rgb(68, 68, 68);
    font-weight: 500;
}

nav{
    float: right;
    word-spacing: 20px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    display: block;
    padding-top: 60px;
}

.intro{
    font-family:'Francois One','roboto';
    font-size: 25px;
    /* font-weight: 100; */
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    padding-left: 14rem;
    padding-right: 14rem;
    color: rgb(68, 68, 68);
    padding-bottom: 50px;
}

.type{
    display: flex;
    color: rgb(68, 68, 68);
    justify-content: center;
}

h1{
    font-family: 'roboto';
    font-size: 20px;
    color: rgb(68, 68, 68);
    text-align: center;
}

.typing{
    font-family: 'roboto';
    font-size: 20px;
    color: rgb(68, 68, 68);
    text-align: center;
    position: relative; 
    margin-left: 10px;
}

.typing::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid black;
    right: -4px;
    animation: blink 0.8s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.display{
    padding-top: 30px;
    /* margin-left: 18rem; */
    margin-right: 18rem;
    margin-left: 18rem;
    float: inline-start;
    display: flex;
    justify-content: space-evenly;
}

.line2{
    /* margin-left: 50px;
    margin-right: 50px; */
    margin-left: 18rem;
    margin-right: 18rem;
    float: inline-start;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 75px;
}
footer{
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    color: black;
    margin-bottom: 30px;
}
